
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.qrcode{
  margin-top: 150px;
  margin-left: 150px;
}
a{
  text-decoration: none;
}
.container{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
/* about page style start */

 .about {
 position: fixed;
 inset: 0;
 background: #d9d9d9;
 padding-top: 50px;

}

.about__wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 72px;
 
}

.about_content{
  display: flex;
  flex-direction: column;
  gap: 38px;
}

.about_content button{
display: flex;
align-items: center;
justify-content: start;
gap: 14px;
border-radius: 20px;
width: 300px;
padding-left: 20px;
height: 65px;
background: #83bb34;
border: none;
font-family: var(--font-family);
font-weight: 400;
font-size: 29px;
color: #fff;
}
.about_content button a{
font-family: var(--font-family);
font-weight: 400;
font-size: 29px;
color: #fff;
}